.DS_Store
.idea/

node_modules/
npm-debug.log**
yarn-error.log**
selenium-debug.log**

test/unit/coverage/
test/e2e/reports/
test/flow/flow-test-results/
test/visuals/
dist/
dist-test/
pack-stats.json

env.js


